<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Início</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->

  <ion-card>
    <ion-card-header>
      <ion-card-title>Eleições 2022</ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: justify;">
      <ion-img src="https://www.tse.jus.br/temas/imagens/temas-categorias/eleicoes.png" id="img_1_inicio"></ion-img>
      Faltam seis meses para as Eleições Gerais de 2022. 
      Para que eleitoras e eleitores votem em paz e com segurança, e para que candidatas, candidatos e partidos possam participar do pleito dentro das regras estabelecidas pela Justiça Eleitoral, 
      o Portal do Tribunal Superior Eleitoral (TSE) reuniu alguns números expressivos e informações importantes sobre as eleições deste ano.
    </ion-card-content>
  </ion-card>
</ion-content>
